!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Enrico Genauck
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:href => "/stylesheets/960.min.css",
          :rel => "stylesheet",
          :type => "text/css"}
    %link{:href => "/stylesheets/landscape.css",
          :rel => "stylesheet",
          :type => "text/css"}
    
    :css
      body {
        background: #B3B9C7;
        font-family: Helvetica Neue, Arial, sans-serif;
        line-height: 1.5em;
        color: #72361b;
        margin: 0px;
        -webkit-text-size-adjust: 200%;
      }
    
      .header {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6EAF3', endColorstr='#B3B9C700'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#E6EAF3), to(#B3B9C7)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #E6EAF3,  #B3B9C7); /* for firefox 3.6+ */
      }
      .header > div {
        overflow: hidden;
      }
      
      h1, h2 {
        color: #526700;
        letter-spacing: 0.08em;      
      }
      
      h1, h2, h3 {
        font-weight: normal;
        margin-bottom: 0;
      }
      
      a { color: #1f5caa; text-decoration: none; }
      a:hover, a:active, a:hover .neutral { color: #252525; }

      .content.dark, .footer.dark {
        border-top: 1px solid #aaafbd;
        background: #b1b7c4;      
      }      
      .content.light {
        border-top: 1px solid #aaafbd;
        background: #B3B9C7;      
      }

      .tweet.tag { color: #526700; }

      .author {margin: 20px 0 0 0; display: block;}

      .footer .address a { display: block; margin-top: 20px; }
  %body
    .header
      .container_12
        %h1.grid_12 Enrico Genauck

        %cite.grid_4
          %strong Beauty
          is more important in computing than anywhere else in technology because software is so complicated. Beauty is the ultimate
          %strong defense against complexity
          = '.'
          %span.author — David Gelernter

    .content.dark
      .container_12
        .logo.twitter.grid_4
          %a{:href => "http://www.twitter.com/enricogenauck"}

        - @tweets.each do |tweet|
          %p.tweet.grid_4= tweet

    .content.light
      .container_12
        .grid_8
          .grid_8
            .commit.grid_4.alpha
              = haml :_commit, :locals => { :commit => @commits[0] }
            .commit.grid_4.omega
              = haml :_commit, :locals => { :commit => @commits[1] }
          .grid_8
            .commit.grid_4.alpha
              = haml :_commit, :locals => { :commit => @commits[2] }
            .commit.grid_4.omega
              = haml :_commit, :locals => { :commit => @commits[3] }

        .logo.github.grid_4
          %a{:href => "https://github.com/enricogenauck"} &nbsp;

    .footer.dark
      .container_12
        .grid_12
          .grid_12
            .grid_4.alpha
              %h1 Impressum
              / %img{:src => "/images/photo.png"}
            .grid_4.address
              Enrico Genauck
              %br
              Könneritzstraße 11
              %br
              04229 Leipzig
              %a{:href => "mailto:kontakt@enricogenauck.de"} kontakt@enricogenauck.de              
            .grid_4.links.omega
              = link_to(host:"twitter.com", section:"enricogenauck")
              = link_to(host:"github.com", section:"enricogenauck")
              = link_to(host:"xing.com", section:"profile/Enrico_Genauck")

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25796852-1']);
    _gaq.push(['_setDomainName', 'enricogenauck.de']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();